.navbar{
    display: flex;
    flex-direction: column;
}
.user_option {
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 25px;
    
}
nav .nav-link{
    color: black;
}
.one span{
    color: black;
    font-size: 28px;
    font-weight: 700;
}
.two{
    background-color: #f9ece6;
    width: 90%;
    text-transform: uppercase;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
} 
.user_option span{ 
    color: black;
    text-decoration: none;
}
.three{
    flex-direction: column;

}

@media (min-width:200px) and (max-width:992px){
    .three{
        flex-direction: row;
    }
}