.heading{
    text-align: center;
    padding-top: 10%
}

/* .ring-img{
    width: 100%;
} */


.r{
    align-items: center;
}
img.ring-img{
    justify-content: center;
}
.five{
    background-color: aqua;
}
.new a{
    background-color: white;
    border-radius: 50%;
    padding: 5%;
    text-decoration: none;
    color: black;
}
.new{
    padding-top: 10%;
}