/* .box{
    padding-top:45px;
    background-color: #7fd7eb;
    color: #ffffff;
    border-radius: 15px;
} */
.container-fluid{
    padding-top:45px;
    background-color: #7fd7eb;
    color: #ffffff;
    border-radius: 15px;
}
.row{
    align-items: center;
}
.img{
    padding-top: 15px;
    padding-left: 25px;
}
.details{
    padding-right: 25px;
}
p{
    margin-top: 5px;
}
.heading h3{
    font-weight: 800;
    font-size: 2rem;
}
.btn-boxx .btn1{
    padding: 10px 0;
    background-color: #109dbd;
    color: #ffffff;
    border: 1px solid #109dbd;
}
.btn-boxx .btn2{
    padding: 10px 0;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #ffffff;
}

.btn-boxx  a{
    padding: 15px 50px 15px 50px !important;
    text-align: center;
    margin:8px;
    text-decoration: none;
}
.btn-boxx a.btn1:hover{
    background-color: #7fd7eb;
    color: rgb(1, 2, 19);
    border: 1px solid #109dbd;
   
}
.btn-boxx a.btn2:hover{
    background-color: #7fd7eb;
    color:white;
    border: 1px solid white;
    
}



 @media (max-width: 992px){
.container-fluid .row {
    flex-direction: column-reverse;
} 
 }


 /* WHY SHOP WITH US */

 .container-one {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.heading h2{
font-size: 2rem;
font-weight: 700;
}

.row-one {
    display: flex;
    margin-bottom: 10%;
}

.box-one{
    text-align: center;
    margin-top: 45px;
    background-color: #f9f8f7;
    padding: 25px;
    border-radius: 5px;
}
.shipped{
    width: 30%;
}
.free{
    width: 30%;
}
.quality{
    width: 30%;
}
.details p{
    font-size: 20px;
}