body{
    padding: 2rem 0rem;
  }
  .card-img-overlay {
    background-color: rgba(#000, 0.4);
  }
  .ten p{
    padding-top: 15%;
    font-size: 22px;
  }
  .eleven h2{
    padding-left: 15%;
    color: black;
  }