.one{
    background-image: url('/website2/images/background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}
.two a{
    text-decoration: none;
    color: white;
    padding-right:10%;
    font-weight: 600;
}
.navbar-brand{
    color: white;
}
.two .navbar-nav .nav-item .three{
color: black;
background-color: white;
border-radius: 25px;
}
.heading{
    text-align: center;
    padding-top: 160px;
    color: white;
    font-size: large;
    font-weight: 900;
    font-size: 30px;
}
