
@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Chela+One&family=Fraunces:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&family=Belanosima&family=Chela+One&family=Fraunces:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;500&family=Belanosima&family=Chela+One&family=Fraunces:wght@200&display=swap');
/* body{
    overflow-x: hidden;
  
} */

.one{
    background-image: url('/website2/images/background.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding-top: 3%;
     padding-left: 3%;
    padding-right: 3%; 
}
ul .nine a:hover{
    background-color: grey !important
}
.two a{
    text-decoration: none;
 
    padding-right:10%;
    font-weight: 600;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
     margin-right: 40px; 
}
.navbar-brand{
    color: white;
}
.two .navbar-nav .nav-item .three{
color: black;
background-color: white;
border-radius: 25px;
}

.heading{
    text-align: center;
    padding-top: 160px;
    color: white;

}
.one .four{
    font-weight: 900;
    font-family: 'Fraunces', serif;
    font-size: 24px;
}
.arrow{
     padding-left: 48%; padding-top: 6%; 
}

.six {
    padding-top: 30%;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}
.six a{
    text-decoration: none;
}
.six h1{
    font-weight: 900;
}
.eight{
    padding-top: 30%;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
}
.eight a{
    text-decoration: none;
}
.eight h2{
    font-weight: 900;
}

.no-space>[class*='col-']{
    padding-left: 0;
    padding-right: 0;
}
.seven .eleven{
    font-size: 20px;
  }
.seven h2.ten{
    color: black;
   
  }
 .seven .aaa{
    top: 40%;
    left: 10%;
  }
  .twelve{
    padding-top: 7%;
    padding-bottom: 7%;
    background-color: white;
  }
.card
{
    border:none;
}
.user-content p
{
    margin-top:5px;
    font-size:12px;
}
span.ttt{
    padding-bottom: 3%;
}
.twelve p{
    font-size: 15px;
    font-weight: 700;
}
.xyz{
    text-align: center;
}